# MUXCORE_MODULE_ID=media-tvshows
# MUXCORE_GRPC_ADDR=localhost:9090
# MUXCORE_INSECURE_DISABLE_TLS=false
# TVSHOWS_DB_PATH=/var/lib/media-tvshows/tvshows.db
# TVSHOWS_GRPC_ADDR=:9440
# TVSHOWS_HTTP_ADDR=:9450
# TVSHOWS_IMAGE_DIR=/var/lib/media-tvshows/images
